
@{
    ViewBag.Title = "Administração";
}

<style>
    h4 {
        margin-left: 15px;
        margin-top: 15px;
    }

    button {
        margin-left: 15px;
    }
</style>

<h2>Administração</h2>

<hr />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Dashboard">Dashboard</a></li>
    <li><a data-toggle="tab" href="#Bebidas">Bebidas</a></li>
    <li><a data-toggle="tab" href="#Clientes">Clientes</a></li>
    <li><a data-toggle="tab" href="#Pedidos">Pedidos</a></li>
    <li><a data-toggle="tab" href="#Cupons">Cupons</a></li>
</ul>

<div class="tab-content">
    <!-- Dashboard -->
    <div class="tab-pane active" id="Dashboard">
        <div class="panel panel-default" style="display: flow-root;">
            <h4>Info Gráfico</h4>

            <hr />

            <div class="col-lg-6">
                <h5><strong>Pedidos no ano</strong></h5>
                <hr />
                <canvas id="PedidosAno" max-width="50" max-height="50"></canvas>
            </div>

            <div class="col-lg-6">
                <h5><strong>Bebidas mais compradas</strong></h5>
                <hr />
                <canvas id="BebidasMaisCompradas" max-width="50" max-height="50"></canvas>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

        <script>
            var ctx = document.getElementById('BebidasMaisCompradas');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Água', 'Refrigerante', 'Suco'],
                    datasets: [{
                        label: 'Total',
                        data: [22, 46, 12],
                        backgroundColor: [
                            'rgba(4, 16, 215, 0.2)',
                            'rgba(250, 12, 23, 0.2)',
                            'rgba(44, 162, 135, 0.2)',
                        ],
                        borderColor: [
                            'rgba(4, 16, 215, 0.2)',
                            'rgba(250, 12, 23, 0.2)',
                            'rgba(44, 162, 135, 0.2)',
                        ],
                        borderWidth: 2
                    }]
                },
            });
        </script>

        <script>
            var ctx = document.getElementById('PedidosAno').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    datasets: [{
                        label: 'Total',
                        data: [10, 15, 53, 31, 12, 3, 41, 22, 46, 12, 31, 45],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(34, 162, 235, 0.2)',
                            'rgba(153, 162, 255, 0.2)',
                            'rgba(44, 162, 135, 0.2)',
                            'rgba(103, 92, 205, 0.2)',
                            'rgba(4, 16, 215, 0.2)',
                            'rgba(53, 10, 55, 0.2)',
                            'rgba(250, 12, 23, 0.2)',
                            'rgba(200, 102, 205, 0.2)',
                            'rgba(90, 62, 185, 0.2)',
                            'rgba(133, 112, 285, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 0.1)',
                            'rgba(153, 102, 255, 0.1)',
                            'rgba(34, 162, 235, 0.1)',
                            'rgba(153, 162, 255, 0.1)',
                            'rgba(44, 162, 135, 0.1)',
                            'rgba(103, 92, 205, 0.1)',
                            'rgba(4, 16, 215, 0.1)',
                            'rgba(53, 10, 55, 0.1)',
                            'rgba(250, 12, 23, 0.1)',
                            'rgba(200, 102, 205, 0.1)',
                            'rgba(90, 62, 185, 0.1)',
                            'rgba(133, 112, 285, 0.1)',
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    </div>

    <!-- Bebidas -->
    <div class="tab-pane" id="Bebidas">
        <div class="panel panel-default">
            <h4>Bebidas</h4>
            <hr />

            <a style="margin-left:15px" href="/Bebidas/Create/" class="btn btn-primary">Nova Bebida</a>

            <hr />

            @*@Html.Action("PvBebida", "Bebidas")*@
        </div>
    </div>

    <!-- Clientes -->
    <div class="tab-pane" id="Clientes">
        <div class="panel panel-default">
            <h4>Clientes</h4>
            <hr />
            @Html.Action("PvCliente", "Clientes")
        </div>
    </div>

    <!-- Pedidos -->
    <div class="tab-pane" id="Pedidos">
        <div class="panel panel-default">
            <h4>Pedidos</h4>
            <hr />
            @Html.Action("PvPedido", "Pedidos")
        </div>
    </div>

    <!-- Cupons -->
    <div class="tab-pane" id="Cupons">
        <div class="panel panel-default">
            <h4>Cupons</h4>
            <hr />
            <a style="margin-left:15px" href="/Cupons/Create/" class="btn btn-primary">Novo Cupom</a>
            <hr />
            @Html.Action("PvCupom", "Cupons")
        </div>
    </div>
</div>