
@{
    ViewBag.Title = "Index";
}

<h2>Bebidas</h2>

<div id="divDashBebidas">
    @Html.Action("PvDashBebidas", "Bebidas")
</div>


@section Scripts {
    <script src="~/Scripts/Bebidas/Script_Bebidas_Dashboard.js"></script>
}
