

<h5><strong>Pedidos no ano</strong></h5>
<hr />
<canvas id="PedidosAno" max-width="50" max-height="50"></canvas>



@*<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

<script>
    var ctx = document.getElementById('PedidosAno').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            datasets: [{
                label: 'Alcoólicos',
                data: [10, 15, 53, 31, 12, 3, 41, 22, 46, 12, 31, 45],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(34, 162, 235, 0.2)',
                    'rgba(153, 162, 255, 0.2)',
                    'rgba(44, 162, 135, 0.2)',
                    'rgba(103, 92, 205, 0.2)',
                    'rgba(4, 16, 215, 0.2)',
                    'rgba(53, 10, 55, 0.2)',
                    'rgba(250, 12, 23, 0.2)',
                    'rgba(200, 102, 205, 0.2)',
                    'rgba(90, 62, 185, 0.2)',
                    'rgba(133, 112, 285, 0.2)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 0.1)',
                    'rgba(153, 102, 255, 0.1)',
                    'rgba(34, 162, 235, 0.1)',
                    'rgba(153, 162, 255, 0.1)',
                    'rgba(44, 162, 135, 0.1)',
                    'rgba(103, 92, 205, 0.1)',
                    'rgba(4, 16, 215, 0.1)',
                    'rgba(53, 10, 55, 0.1)',
                    'rgba(250, 12, 23, 0.1)',
                    'rgba(200, 102, 205, 0.1)',
                    'rgba(90, 62, 185, 0.1)',
                    'rgba(133, 112, 285, 0.1)',
                ],
                borderWidth: 2
            }],

            [{
                label: 'Não Alcoólicos',
                data: [10, 15, 20, 25, 20, 5, 11, 20, 30, 22, 31, 18],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(34, 162, 235, 0.2)',
                    'rgba(153, 162, 255, 0.2)',
                    'rgba(44, 162, 135, 0.2)',
                    'rgba(103, 92, 205, 0.2)',
                    'rgba(4, 16, 215, 0.2)',
                    'rgba(53, 10, 55, 0.2)',
                    'rgba(250, 12, 23, 0.2)',
                    'rgba(200, 102, 205, 0.2)',
                    'rgba(90, 62, 185, 0.2)',
                    'rgba(133, 112, 285, 0.2)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 0.1)',
                    'rgba(153, 102, 255, 0.1)',
                    'rgba(34, 162, 235, 0.1)',
                    'rgba(153, 162, 255, 0.1)',
                    'rgba(44, 162, 135, 0.1)',
                    'rgba(103, 92, 205, 0.1)',
                    'rgba(4, 16, 215, 0.1)',
                    'rgba(53, 10, 55, 0.1)',
                    'rgba(250, 12, 23, 0.1)',
                    'rgba(200, 102, 205, 0.1)',
                    'rgba(90, 62, 185, 0.1)',
                    'rgba(133, 112, 285, 0.1)',
                ],
                borderWidth: 2
            }]
                },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>*@
