@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Drink It</h2>
    <hr />
    <p class="lead">O novo E-Commerce de bebidas que você estava esperando!!!</p>
</div>

<hr />

@Html.Action("PvDashBebidas", "Bebidas")