@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Drink It</h1>
    <hr />
    <p class="lead">O novo E-Commerce de bebidas que você estava esperando !!!</p>
    <hr />
    <p>@Html.ActionLink("Ver produtos >>", "Index", "Bebidas", null, new { @class = "btn btn-lg btn-primary" })</p>
</div>