@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1 style="font-family:'Times New Roman'">Drink It</h1>
    <hr />
    @Html.Action("PvCarousel", "Bebidas")
    <br />
    <p class="lead" style="text-align:center">O novo e-Commerce de bebidas que você estava esperando!!!</p>
</div>

<hr />
<div id="divDashBebidas">
    @Html.Action("PvDashBebidas", "Bebidas")
</div>

@section Scripts {
    <script src="~/Scripts/Home/Script_Dashboard_Bebidas.js"></script>
}
