@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Drink It</h2>
    <hr />
    <p class="lead">O novo E-Commerce de bebidas que você estava esperando!!!</p>
</div>

<hr />
<div id="divDashBebidas">
    @Html.Action("PvDashBebidas", "Bebidas")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/Home/Script_Dashboard_Bebidas.js"></script>
}
